**/certs/
**/__pycache__/
ollama/
work/
apps/
!apps/client_templates
.env
apc_ups/
**/.venv/
*.tar.gz
**/credentials.json
**/token.json
htpasswd.txt
proxy/htpasswd.txt
proxy/log/
**.crt
**.key
**.log
MCP_Client_Template/
