services:
  prometheus:
    image: prom/prometheus:latest 
    ports:
      - "9090:9090" 
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml 
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      # - '--storage.tsdb.path=/prometheus'
      - '--web.external-url=https://crunchy.dyndns.org/prometheus'
      - '--web.route-prefix=/prometheus/' 
    restart: unless-stopped 
    profiles:
      - llm
    networks:
     - homeserver
    container_name: prometheus