services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_SERVER_ROOT_URL=https://www.crunchy.dyndns.org/grafana/
    ports:
      - '3000:3000'