receivers:
  kafkametrics:
    brokers: kafka:29092
    protocol_version: 2.0.0
    scrapers:
      - brokers
      - topics
      - consumers
  # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/prometheusreceiver
  prometheus:
    config:
      scrape_configs:
        - job_name: 'otel-collector'
          scrape_interval: 5s
          static_configs:
            - targets: ['0.0.0.0:8888']

  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:
    send_batch_size: 10000
    timeout: 10s

exporters:
  otlp:
      endpoint: "http://grafana:3000"

service:
  pipelines:
    metrics:
      receivers: [otlp,prometheus,kafkametrics]
      processors: [batch]
      exporters: [otlp]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp]